body {
  padding-top: 50px;
  position: relative;
}
.footer {
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  margin-top: 70px;
  padding: 30px 0;
  text-align: center;
}
.hidden {
  display: none;
}
